In [1]:
from pyspark.sql import SparkSession
from pyspark.sql import Column, DataFrame
from pyspark.sql.types import StringType
from pyspark.sql import Row

from pyspark.sql.functions import col, \
                                  lower, initcap, \
                                  concat, concat_ws, lit, substring, format_string

from typing import List, Optional, Union

import mysql.connector

In [2]:
spark = SparkSession.builder.master('local[2]').appName('format_json').getOrCreate()

---

UDF

In [3]:
def apply_format_phone_no(column: Union[str, Column]) -> Column:
    """
    Applies phone number formatting to the given Spark Column.

    Args:
        column (Union[str, Column]): The Spark Column or column name representing the phone number.

    Returns:
        Column: A new Spark Column with the phone number formatted as '(XXX)-XXX-XXXX'.

    Raises:
        ValueError: If the provided column is not of type str or Column.

    Example:
        df = df.withColumn('formatted_phone', apply_format_phone_no(df['phone']))

    """

    # Parameter Validation
    if isinstance(column, str):
        column = col(column)
    elif not isinstance(column, Column):
        raise ValueError("The column parameter should be of type str or Column.")

    return (concat(lit('('),
                   substring(column, 1, 3),
                   lit(')-'),
                   substring(column, 4, 3),
                   lit('-'),
                   substring(column, 7, 4)
                   )
            )

In [4]:
def spark_to_sql(df: DataFrame, url: str, table_name: str = 'table1',  properties: Optional[dict] = None) -> None:
    """
    Writes the given Spark DataFrame to a SQL database table using JDBC.

    Args:
        df (DataFrame): The Spark DataFrame to be written to the SQL database.
        table_name (str, optional): The name of the table in the SQL database. Default is 'table1'.
        url (str, optional): The JDBC URL of the SQL database.
        properties (dict, optional): Additional properties for the JDBC connection. Default is None.

    Raises:
        ValueError: If the input DataFrame or JDBC URL is not provided.

    Example:
        spark_to_sql(df, table_name='my_table', url='jdbc:mysql://localhost:3306/my_database', properties={'user': 'my_user', 'password': 'my_password'})

    """
    if not df:
        raise ValueError("Input DataFrame 'df' is required.")
    
    if not url:
        raise ValueError("JDBC URL 'url' is required.")
    
    if properties is None:
        properties = {}

    try:
        df.write.jdbc(url=url, table=table_name, mode='overwrite', properties=properties)
    except Exception as e:
        raise Exception(f"Error occurred while writing data to the database: {str(e)}")

---

1. Dataset: Custmer

In [5]:
customer_json = 'data/raw_data/cdw_sapp_custmer.json'

customer_df = spark.read\
            .option("multiline", False)\
            .json(customer_json)

In [6]:
customer_df = (customer_df
    .withColumn('FIRST_NAME', initcap('FIRST_NAME'))
    .withColumn('MIDDLE_NAME', lower('MIDDLE_NAME'))
    .withColumn('LAST_NAME', initcap('LAST_NAME'))
    .withColumn('FULL_STREET_ADDRESS', concat_ws(',', 'STREET_NAME', 'APT_NO'))
    .withColumn('CUST_PHONE', apply_format_phone_no('CUST_PHONE'))
)

---

2. Dataset: Branch

In [7]:
branch_json = 'data/raw_data/cdw_sapp_branch.json'

branch_df = spark.read\
            .option("multiline", False)\
            .json(branch_json)

In [8]:
branch_df = branch_df.fillna(99999, subset = 'BRANCH_ZIP')
branch_df = branch_df.withColumn('BRANCH_PHONE', apply_format_phone_no('BRANCH_PHONE'))

---

3. Dataset: Credit

In [9]:
credit_json = 'data/raw_data/cdw_sapp_credit.json'
credit_df = spark.read\
            .option('multiline', False)\
            .json(credit_json)

In [10]:
credit_df = credit_df.withColumn('TIMEID', concat_ws('', 
                                                     'YEAR', 
                                                     format_string('%02d', 'MONTH'), 
                                                     format_string('%02d','DAY')))

---

### SQL

In [11]:
# Connect to the MySQL server
conn = mysql.connector.connect(
    host='localhost',
    port='3306',
    user='root',
    password='password'
)

In [12]:
db_name = 'creditcard_capstone'
cursor = conn.cursor()
cursor.execute(f'CREATE DATABASE IF NOT EXISTS {db_name};')

In [13]:
url = f'jdbc:mysql://localhost:3306/{db_name}'
properties = {
    'user': 'root',
    'password': 'password',
    'driver': 'com.mysql.jdbc.Driver'
}

In [14]:
customer_df.show()

+------+----------------+------------+-------------+--------------------+-----------+----------+--------+----------+---------+--------------------+-----------+---------+-----------------+--------------------+
|APT_NO|  CREDIT_CARD_NO|   CUST_CITY| CUST_COUNTRY|          CUST_EMAIL| CUST_PHONE|CUST_STATE|CUST_ZIP|FIRST_NAME|LAST_NAME|        LAST_UPDATED|MIDDLE_NAME|      SSN|      STREET_NAME| FULL_STREET_ADDRESS|
+------+----------------+------------+-------------+--------------------+-----------+----------+--------+----------+---------+--------------------+-----------+---------+-----------------+--------------------+
|   656|4210653310061055|     Natchez|United States| AHooper@example.com|(123)-781-8|        MS|   39120|      Alec|   Hooper|2018-04-21T12:49:...|         wm|123456100|Main Street North|Main Street North...|
|   829|4210653310102868|Wethersfield|United States| EHolman@example.com|(123)-893-3|        CT|   06109|      Etta|   Holman|2018-04-21T12:49:...|    brendan|123453023|    Redwood Drive|   Redwood Drive,829|
|   683|4210653310116272|     Huntley|United States| WDunham@example.com|(124)-301-8|        IL|   60142|    Wilber|   Dunham|2018-04-21T12:49:...|   ezequiel|123454487| 12th Street East|12th Street East,683|
|   253|4210653310195948|   NewBerlin|United States|  EHardy@example.com|(124)-321-5|        WI|   53151|   Eugenio|    Hardy|2018-04-21T12:49:...|      trina|123459758|Country Club Road|Country Club Road...|
|   301|4210653310356919|      ElPaso|United States|  WAyers@example.com|(124)-207-4|        TX|   79930|   Wilfred|    Ayers|2018-04-21T12:49:...|        may|123454431|   Madison Street|  Madison Street,301|
|     3|4210653310395982|NorthOlmsted|United States|BWoodard@example.com|(124)-257-0|        OH|   44070|      Beau|  Woodard|2018-04-21T12:49:...|    ambrose|123454202|   Colonial Drive|    Colonial Drive,3|
|    84|4210653310400536|      Vienna|United States|   SKemp@example.com|(123)-968-5|        VA|   22180|    Sheila|     Kemp|2018-04-21T12:49:...|      larry|123451799|   Belmont Avenue|   Belmont Avenue,84|
|   728|4210653310459911|      Duarte|United States| WHurley@example.com|(123)-821-3|        CA|   91010|     Wendy|   Hurley|2018-04-21T12:49:...|        ora|123453875|     Oxford Court|    Oxford Court,728|
|    81|4210653310773972|      Owosso|United States|AGilmore@example.com|(124)-068-9|        MI|   48867|      Alec|  Gilmore|2018-04-21T12:49:...|     tracie|123457511|    Forest Street|    Forest Street,81|
|   561|4210653310794854|        Zion|United States|    BLau@example.com|(123)-522-2|        IL|   60099|    Barbra|      Lau|2018-04-21T12:49:...|    mitchel|123457464|     Court Street|    Court Street,561|
|   622|4210653310817373|  Youngstown|United States|EThomson@example.com|(124)-136-3|        OH|   44512|   Edmundo|  Thomson|2018-04-21T12:49:...|      denny|123457639|    Cypress Court|   Cypress Court,622|
|   924|4210653310844617| Summerville|United States| ETruong@example.com|(123)-622-8|        SC|   29483|      Elsa|   Truong|2018-04-21T12:49:...|   isabelle|123453242|  8th Street West| 8th Street West,924|
|   611|4210653311015303|      ElPaso|United States|HMckinney@example...|(123)-816-5|        TX|   79930|     Homer| Mckinney|2018-04-21T12:49:...|      henry|123454339|      East Avenue|     East Avenue,611|
|   680|4210653311215039|      Fenton|United States|   RKidd@example.com|(123)-473-0|        MI|   48430|      Rita|     Kidd|2018-04-21T12:49:...|     rickey|123454537|         Route 44|        Route 44,680|
|    71|4210653311229354|  Grandville|United States|ABallard@example.com|(124)-211-3|        MI|   49418|    Amalia|  Ballard|2018-04-21T12:49:...|  heriberto|123452373|    Warren Street|    Warren Street,71|
|   195|4210653311652836|    YubaCity|United States| PThomas@example.com|(123)-988-8|        CA|   95993|     Patty|   Thomas|2018-04-21T12:49:...|   angelita|123455343|     Jones Street|    Jones Street,195|
|   500|4210653311707126|   CapeCoral|United States| JMorrow@example.com|(124)-015-8|        FL|   33904|  Josefina|   Morrow|2018-04-21T12:49:...|   dorothea|123451533|       New Street|      New Street,500|
|   989|4210653311730764|  Brookfield|United States|NAndrews@example.com|(124)-140-8|        WI|   53045|    Nelson|  Andrews|2018-04-21T12:49:...|  jefferson|123459278|  Division Street| Division Street,989|
|   810|4210653311898082|    Richmond|United States|MSchneider@exampl...|(123)-839-0|        VA|   23223|    Miquel|Schneider|2018-04-21T12:49:...|     maximo|123456915|     Maple Street|    Maple Street,810|
|   649|4210653312021765| WestChester|United States|PTidwell@example.com|(123)-506-7|        PA|   19380|    Parker|  Tidwell|2018-04-21T12:49:...|    arnulfo|123453807|       Eagle Road|      Eagle Road,649|
+------+----------------+------------+-------------+--------------------+-----------+----------+--------+----------+---------+--------------------+-----------+---------+-----------------+--------------------+
only showing top 20 rows

In [15]:
spark_to_sql(customer_df, table_name='CDW_SAPP_CUSTOMER ', url = url, properties = properties)
spark_to_sql(branch_df, table_name='CDW_SAPP_BRANCH', url = url, properties = properties)
spark_to_sql(credit_df, table_name='CDW_SAPP_CREDIT_CARD', url = url, properties = properties)
spark.stop()

---

## END