In [1]:
from pyspark.sql import SparkSession, DataFrame

from pyspark.sql.functions import count, sum, col

In [2]:
spark = SparkSession.builder \
    .appName('Query MySQL database: creditcard_capstone') \
    .getOrCreate()

spark.conf.set("spark.sql.repl.eagerEval.enabled", True) # to see the entire contents of the DataFrame in the console output.

In [3]:
mysql_database_name = 'creditcard_capstone'
mysql_driver = 'com.mysql.jdbc.Driver'
mysql_url = f'jdbc:mysql://localhost:3306/{mysql_database_name}'
mysql_properties = {
                'user': 'root',
                'password': 'password'
}

In [15]:
customer_df = spark.read.jdbc(url=mysql_url, table='customer', properties=mysql_properties)
credit_df = spark.read.jdbc(url=mysql_url, table='credit', properties=mysql_properties)
branch_df = spark.read.jdbc(url=mysql_url, table='branch', properties=mysql_properties)

---

## 2.1 Transaction Details Module

1)    Used to display the transactions made by customers living in a given zip code for a given month and year. Order by day in descending order.

In [5]:
def get_input_zip_month_year() -> tuple[str, int, int]:
    """
    Prompt the user to enter a zipcode, month, and year, and validate the inputs.

    Returns:
        A tuple containing the validated inputs: (zipcode, month, year)

    Raises:
        ValueError: If any of the inputs are invalid.

    """

    def validate_zipcode(zipcode: str) -> None:
        if len(zipcode) != 5 or not zipcode.isdigit():
            raise ValueError("Invalid zipcode. Please enter a 5-digit numeric value.")

    def validate_month(month: int) -> None:
        if not 1 <= month <= 12:
            raise ValueError("Invalid month. Please enter a numeric value between 1 and 12.")

    def validate_year(year: int) -> None:
        if len(str(year)) != 4 or not str(year).isdigit():
            raise ValueError("Invalid year. Please enter a 4-digit numeric value.")

    while True:
        try:
            zipcode = input("Zipcode: ")
            validate_zipcode(zipcode)
            break
        except ValueError as e:
            print(str(e))

    while True:
        try:
            month = int(input("Month: "))
            validate_month(month)
            break
        except ValueError as e:
            print(str(e))

    while True:
        try:
            year = int(input("Year: "))
            validate_year(year)
            break
        except ValueError as e:
            print(str(e))

    return zipcode, month, year

In [6]:
def transactions_by_zip_month_year() -> None:
    """
    Query credit data by joining with customer data and applying filters.

    Args:
        credit_df (DataFrame): The DataFrame containing the credit data.
        customer_df (DataFrame): The DataFrame containing the customer data.

    Returns:
        DataFrame: The resulting DataFrame after joining and applying filters.

    Raises:
        ValueError: If the required input parameters are not provided.

    """

    input_zip, input_month, input_year = get_input_zip_month_year()
    
    result_df = credit_df.join(customer_df, credit_df.CUST_SSN == customer_df.SSN, 'left') \
                         .where((customer_df.CUST_ZIP == input_zip) & (credit_df.MONTH == input_month) & (credit_df.YEAR == input_year)) \
                         .orderBy(credit_df.DAY)

    result_df.show()

In [7]:
transactions_by_zip_month_year()

+-----------+----------------+---------+---+-----+--------------+----------------+-----------------+----+--------+------+----------------+---------+-------------+-------------------+-----------+----------+--------+----------+---------+--------------------+-----------+---------+-----------------+--------------------+
|BRANCH_CODE|  CREDIT_CARD_NO| CUST_SSN|DAY|MONTH|TRANSACTION_ID|TRANSACTION_TYPE|TRANSACTION_VALUE|YEAR|  TIMEID|APT_NO|  CREDIT_CARD_NO|CUST_CITY| CUST_COUNTRY|         CUST_EMAIL| CUST_PHONE|CUST_STATE|CUST_ZIP|FIRST_NAME|LAST_NAME|        LAST_UPDATED|MIDDLE_NAME|      SSN|      STREET_NAME| FULL_STREET_ADDRESS|
+-----------+----------------+---------+---+-----+--------------+----------------+-----------------+----+--------+------+----------------+---------+-------------+-------------------+-----------+----------+--------+----------+---------+--------------------+-----------+---------+-----------------+--------------------+
|        192|4210653387378802|123457047|  2|   12|         15852|   Entertainment|            93.91|2018|20181202|   801|4210653387378802|  Natchez|United States|JMacias@example.com|(124)-047-6|        MS|   39120|    Judson|   Macias|2018-04-21T12:49:...|      lauri|123457047|    Summit Avenue|   Summit Avenue,801|
|         53|4210653359877473|123457519|  2|   12|         12633|      Healthcare|            23.77|2018|20181202|   384|4210653359877473|  Natchez|United States|ICramer@example.com|(123)-867-9|        MS|   39120|    Isabel|   Cramer|2018-04-21T12:49:...|      james|123457519|  Sheffield Drive| Sheffield Drive,384|
|         93|4210653396189363|123457139|  2|   12|         15215|       Education|            66.16|2018|20181202|   109|4210653396189363|  Natchez|United States|  BWare@example.com|(124)-231-6|        MS|   39120|     Blair|     Ware|2018-04-21T12:49:...|     antone|123457139|    Linden Street|   Linden Street,109|
|        119|4210653374740577|123459564|  2|   12|          2214|       Education|            47.55|2018|20181202|    21|4210653374740577|  Natchez|United States|  KTodd@example.com|(123)-895-2|        MS|   39120|     Kraig|     Todd|2018-04-21T12:49:...|    dolores|123459564|     Durham Court|     Durham Court,21|
|         52|4210653374740577|123459564|  2|   12|          2186|            Test|            44.62|2018|20181202|    21|4210653374740577|  Natchez|United States|  KTodd@example.com|(123)-895-2|        MS|   39120|     Kraig|     Todd|2018-04-21T12:49:...|    dolores|123459564|     Durham Court|     Durham Court,21|
|        100|4210653323781193|123455582|  3|   12|         23017|       Education|            54.64|2018|20181203|   388|4210653323781193|  Natchez|United States|FCarson@example.com|(124)-093-9|        MS|   39120|    Fermin|   Carson|2018-04-21T12:49:...|        kip|123455582| 6th Street North|6th Street North,388|
|          9|4210653323781193|123455582|  4|   12|         23028|       Education|            48.28|2018|20181204|   388|4210653323781193|  Natchez|United States|FCarson@example.com|(124)-093-9|        MS|   39120|    Fermin|   Carson|2018-04-21T12:49:...|        kip|123455582| 6th Street North|6th Street North,388|
|         19|4210653323781193|123455582|  5|   12|         23008|   Entertainment|            10.62|2018|20181205|   388|4210653323781193|  Natchez|United States|FCarson@example.com|(124)-093-9|        MS|   39120|    Fermin|   Carson|2018-04-21T12:49:...|        kip|123455582| 6th Street North|6th Street North,388|
|         59|4210653310061055|123456100|  5|   12|         20528|   Entertainment|             46.6|2018|20181205|   656|4210653310061055|  Natchez|United States|AHooper@example.com|(123)-781-8|        MS|   39120|      Alec|   Hooper|2018-04-21T12:49:...|         wm|123456100|Main Street North|Main Street North...|
|         45|4210653396189363|123457139|  6|   12|         15187|   Entertainment|            37.42|2018|20181206|   109|4210653396189363|  Natchez|United States|  BWare@example.com|(124)-231-6|        MS|   39120|     Blair|     Ware|2018-04-21T12:49:...|     antone|123457139|    Linden Street|   Linden Street,109|
|        170|4210653323781193|123455582|  8|   12|         23010|      Healthcare|            41.12|2018|20181208|   388|4210653323781193|  Natchez|United States|FCarson@example.com|(124)-093-9|        MS|   39120|    Fermin|   Carson|2018-04-21T12:49:...|        kip|123455582| 6th Street North|6th Street North,388|
|          8|4210653310061055|123456100| 10|   12|         20558|   Entertainment|            84.13|2018|20181210|   656|4210653310061055|  Natchez|United States|AHooper@example.com|(123)-781-8|        MS|   39120|      Alec|   Hooper|2018-04-21T12:49:...|         wm|123456100|Main Street North|Main Street North...|
|         22|4210653374740577|123459564| 12|   12|          2197|           Bills|            55.38|2018|20181212|    21|4210653374740577|  Natchez|United States|  KTodd@example.com|(123)-895-2|        MS|   39120|     Kraig|     Todd|2018-04-21T12:49:...|    dolores|123459564|     Durham Court|     Durham Court,21|
|        173|4210653323781193|123455582| 14|   12|         22974|             Gas|            12.63|2018|20181214|   388|4210653323781193|  Natchez|United States|FCarson@example.com|(124)-093-9|        MS|   39120|    Fermin|   Carson|2018-04-21T12:49:...|        kip|123455582| 6th Street North|6th Street North,388|
|        156|4210653396189363|123457139| 14|   12|         15195|             Gas|           100.23|2018|20181214|   109|4210653396189363|  Natchez|United States|  BWare@example.com|(124)-231-6|        MS|   39120|     Blair|     Ware|2018-04-21T12:49:...|     antone|123457139|    Linden Street|   Linden Street,109|
|         21|4210653387378802|123457047| 15|   12|         15845|             Gas|            49.38|2018|20181215|   801|4210653387378802|  Natchez|United States|JMacias@example.com|(124)-047-6|        MS|   39120|    Judson|   Macias|2018-04-21T12:49:...|      lauri|123457047|    Summit Avenue|   Summit Avenue,801|
|         17|4210653374740577|123459564| 15|   12|          2199|         Grocery|            86.06|2018|20181215|    21|4210653374740577|  Natchez|United States|  KTodd@example.com|(123)-895-2|        MS|   39120|     Kraig|     Todd|2018-04-21T12:49:...|    dolores|123459564|     Durham Court|     Durham Court,21|
|         90|4210653362697310|123459262| 16|   12|          3524|           Bills|            87.92|2018|20181216|   718|4210653362697310|  Natchez|United States| MHagan@example.com|(124)-333-5|        MS|   39120|   Melissa|    Hagan|2018-04-21T12:49:...|    clifton|123459262|    Parker Street|   Parker Street,718|
|         50|4210653374740577|123459564| 16|   12|          2208|      Healthcare|             51.9|2018|20181216|    21|4210653374740577|  Natchez|United States|  KTodd@example.com|(123)-895-2|        MS|   39120|     Kraig|     Todd|2018-04-21T12:49:...|    dolores|123459564|     Durham Court|     Durham Court,21|
|         44|4210653359877473|123457519| 18|   12|         12638|         Grocery|            32.53|2018|20181218|   384|4210653359877473|  Natchez|United States|ICramer@example.com|(123)-867-9|        MS|   39120|    Isabel|   Cramer|2018-04-21T12:49:...|      james|123457519|  Sheffield Drive| Sheffield Drive,384|
+-----------+----------------+---------+---+-----+--------------+----------------+-----------------+----+--------+------+----------------+---------+-------------+-------------------+-----------+----------+--------+----------+---------+--------------------+-----------+---------+-----------------+--------------------+
only showing top 20 rows

---

2)    Used to display the number and total values of transactions for a given type.

In [8]:
def distinct_options(df: DataFrame, column_name: str) -> list[str]:
    """
    Get the distinct options from a specific column in the DataFrame.

    Args:
        df (DataFrame): The DataFrame containing the data.
        column_name (str): The name of the column to fetch distinct options from.

    Returns:
        list[str]: The list of distinct options from the specified column.

    """
    distinct_options = df.select(column_name).distinct().rdd.flatMap(lambda x: x).collect()
    return distinct_options

In [9]:
def get_transaction_type() -> str:
    """
    Prompt the user to enter a valid transaction type and validate the input.

    Returns:
        str: The validated transaction type entered by the user.

    Raises:
        ValueError: If the entered transaction type is not valid.

    """

    valid_transaction_types = distinct_options(df = credit_df, column_name = 'TRANSACTION_TYPE') 
    valid_options = ", ".join(valid_transaction_types)

    while True:
        transaction_type = input(f"Transaction Type ({valid_options}): ")
        if transaction_type in valid_transaction_types:
            break
        print(f"Invalid transaction type. Please enter a valid type from the given options: {valid_options}.")
    
    return transaction_type

In [10]:
def transaction_total_and_no_by_type() -> None:
    """
    Query transaction data based on the user-provided transaction type.

    Returns:
        None

    Raises:
        ValueError: If the input transaction type is not valid.

    """

    # get a valid input from the user
    transaction_type = get_transaction_type() 

    result_df = credit_df.filter(credit_df.TRANSACTION_TYPE == transaction_type) \
                             .select(count('TRANSACTION_ID').alias('Total no of transactions'), \
                                     sum('TRANSACTION_VALUE').alias('Sum of Transaction Values'))

    result_df.show()

In [11]:
transaction_total_and_no_by_type()

+------------------------+-------------------------+
|Total no of transactions|Sum of Transaction Values|
+------------------------+-------------------------+
|                    6635|        338950.1000000002|
+------------------------+-------------------------+

---

3)    Used to display the total number and total values of transactions for branches in a given state.

In [16]:
def get_valid_state() -> str:
    """
    Prompt the user to enter a valid state and validate the input.

    Returns:
        str: The validated state entered by the user.

    Raises:
        ValueError: If the entered state is not valid.

    """

    valid_states = distinct_options(df = branch_df, column_name = 'BRANCH_STATE')
    valid_options = ", ".join(valid_states)

    while True:
        input_state = input(f"State ({valid_options}): ")
        if input_state in valid_states:
            break
        print(f"Invalid state. Please enter a valid state from the given options: {valid_options}.")
    
    return input_state

In [17]:
def transaction_total_and_no_by_branch_on_state ()-> None:
    """
    Process transaction data by querying based on user input of state.

    Args:
        credit_df (DataFrame): The DataFrame containing the credit data.
        customer_df (DataFrame): The DataFrame containing the customer data.

    """

    state = get_valid_state()

    result_df = credit_df.join(branch_df, credit_df.BRANCH_CODE == branch_df.BRANCH_CODE, 'left') \
                         .where(branch_df.BRANCH_STATE == 'MN') \
                         .groupBy(branch_df.BRANCH_CODE) \
                         .agg(count(credit_df.TRANSACTION_ID).alias('Transaction_Count'), sum(credit_df.TRANSACTION_VALUE).alias('Transaction_Sum'))

    result_df.show()

Invalid state. Please enter a valid state from the given options: SC, MN, NJ, VA, KY, MI, WI, CA, CT, MT, NC, MD, IL, WA, MS, AL, IN, OH, IA, PA, NY, TX, GA, MA, FL, AR.
+-----------+-----------------+------------------+
|BRANCH_CODE|Transaction_Count|   Transaction_Sum|
+-----------+-----------------+------------------+
|        124|              372|          18644.89|
|          1|              374|18157.570000000007|
|         20|              381|19350.830000000005|
+-----------+-----------------+------------------+

In [ ]:
transaction_total_and_no_by_branch_on_state()

---

## 2.2 Customer Details Module

1) Used to check the existing account details of a customer.
2) Used to modify the existing account details of a customer.
3) Used to generate a monthly bill for a credit card number for a given month and year.
4) Used to display the transactions made by a customer between two dates. Order by year, month, and day in descending order.